.Table {
    width: 100%;

    th, td {
        border-collapse: collapse;
        text-align: left;
        padding: 6px 15px;
    }

    thead th {
        border-bottom: 2px solid #666;
    }

    tbody tr:nth-child(odd) {
        background: #f6f6f6;
    }
}

.Table-actions {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        display: inline-block;

        &:not(:first-child) {
            margin-left: 10px;
        }
    }
}

.SortablePlaceholder {
    height: 30px;
    border: 2px dashed #aaa;
    border-radius: @border-radius;
    margin-bottom: 10px;
}

.FormControl--editor {
    height: auto;

    .TextEditor-controls {
        margin: 0; // Cancels the negative margins
        padding: 10px 0 0;
    }

    .item-submit {
        display: none;
    }
}
