@import 'backoffice/OrderComposerTable';

.FormControl--editor {
    height: auto;

    .TextEditor-controls {
        margin: 0; // Cancels the negative margins
        padding: 10px 0 0;
    }

    .item-submit {
        display: none;
    }
}
