.Breadcrumb {
    list-style: none;
    margin: 0 0 10px;
    padding: 6px 10px;
    background: #f6f6f6;
    border-radius: @border-radius;

    li {
        display: inline-block;

        &:not(:first-child)::before {
            display: inline-block;
            content: '>';
            color: @muted-color;
            padding: 0 0.3em;
        }
    }
}

// We have a .container class on some pages but it's not really used yet
// But is impacted by Flarum global style since it's intended for full width
// We just cancel the effects for now
.sideNavOffset .container {
    width: auto;
    margin: 0;
}

.ProductShowSections {
    display: flex;
    flex-wrap: wrap;
}

.ProductShowSection {
    width: 100%;
}

@media @tablet-up {
    .ProductShowSection--gallery,
    .ProductShowSection--gallery + .ProductShowSection--price {
        width: 50%;
    }
}

@import 'common/DecimalInput';
@import 'forum/CartDropdown';
@import 'forum/CartPage';
@import 'forum/InlineSubmitStatus';
@import 'forum/ProductList';
